.DS_Store
.idea
.devcontainer
*.png-autosave.kra
*.log

# Generated PDFs and scripts dependencies
pdf_gen/node_modules/
pdf_gen/package-lock.json
node_modules/

# Generated localized HTML files
dist/
